html{
  scroll-behavior: smooth;
  font-size: 1vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: #26272c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  background: url(/Img/clock.png) no-repeat;
  position: relative;
  background-size: 85%;
  background-position: center center;
  height: 40vw;
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2rem solid #26272c;
  box-shadow: 1.25rem 1.25rem 2.5rem rgba(0, 0, 0, 0.5),
    -1.25rem -1.25rem 2.5rem rgba(255, 255, 255, 0.288),
    inset 1.25rem 1.25rem 2.5rem rgba(0, 0, 0, 0.5),
    inset -1.25rem -1.25rem 2.5rem rgba(255, 255, 255, 0.288);
  border-radius: 2rem;
}

.clock::before {
  content: "";
  position: absolute;
  height: 0.75vw;
  width: 0.75vw;
  z-index: 1;
  background-color: pink;
  box-shadow: 0 0 0.1em pink, 0 0 0.288em pink, 0 0 0.3em pink, 0 0 0.4em pink;
  border-radius: 50%;
}

.hour,
.minute,
.second {
  position: absolute;
  height: 22%;
  width: 0.5%;
  top: 32%;
  border-radius: 1em;
  transition: all 0.7s ease;
}
.hour {
  width: 0.7%;
  background: #fff;
  box-shadow: 0 0 0.1em #fff, 0 0 0.288em #fff, 0 0 0.3em #fff, 0 0 0.4em #fff;
  transform-origin: 50% 82%;
}

.minute {
  background-color: salmon;
  top: 27%;
  height: 27%;
  box-shadow: 0 0 0.1em salmon, 0 0 0.288em salmon, 0 0 0.3em salmon,
    0 0 0.4em salmon;
  transform-origin: 50% 84.9%;
}

.second {
  background: #00ffc3;
  top: 24%;
  height: 30%;
  box-shadow: 0 0 0.1em #00ffc3, 0 0 0.288em #00ffc3, 0 0 0.3em #00ffc3,
    0 0 0.4em #00ffc3, 0 0 0.5em #00ffc3;
  transform-origin: 50% 86.8%;
}
